<connectionStrings>
  <add name="AppContext" connectionString="Data Source=DESKTOP-VFT2FG9\SQLEXPRESS;Initial Catalog=AnexU;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
       providerName="System.Data.SqlClient" />
</connectionStrings>